html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 1.4em;
    color: #333;
}

page-container {
  position: relative;
  min-height: 100vh;
}
content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
/*   height: 2.5rem;            /* Footer height */ */
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
/*     font-size: 1.5em; */
}

ul.posts li {
    list-style: none;
    margin: 10px auto 10px;
}

.bottom-wide {
     margin-bottom: 2cm;
  }

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two { 
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 2;
  grid-row: 2;
}
.four {
  grid-column: 1 ;
  grid-row: 2;
}

.five {
  grid-column: 2;
  grid-row: 1;
}
.six {
  grid-column: 1;
  grid-row: 1;
}
.seven {
  grid-column: 1;
  grid-row: 2;
}
.eight {
  grid-column:  2;
  grid-row:  2;
}
.nigh {
  grid-column: 2;
  grid-row: 2;
}
.ten {
  grid-column: 1;
  grid-row: 2;
}
