<h3>DP and VI</h3>

<div class="wrapper">
<div class="one">
  <video width="320" height="240" controls>
  <source src="../images/ADP_game.ogg" type="video/ogg">
<!--   <source src="movie.ogg" type="video/ogg"> -->
Your browser does not support the video tag.
</video>
 </div>
<div class="two">Two</div>
<div class="three">Three</div>
<div class="four">Four</div>
</div>

<h3>RL and ADP</h3>
<div class="wrapper">
<div class="one">One</div>
<div class="two">Two</div>
<div class="three">Three</div>
<div class="four">Four</div>
</div>

<h3>Robust DP and Robust ADP</h3>
<div class="wrapper">
<div class="one">One</div>
<div class="two">Two</div>
<div class="three">Three</div>
<div class="four">Four</div>
</div>
