<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<h2>
				<a href="/">Home</a> &nbsp;
				<a href="/research">Research</a> &nbsp;
				<a href="/about">About</a> &nbsp;
	        		<a href="/cv">CV</a> &nbsp;
	        		<a href="/blog">Blog</a>
				</h2>

			</nav>
			<div class="page-container">
				<div id="container">
				   <div id="content-wrap">
					{{ content }}
				   </div>
			
			</div><!-- /.container -->

			
 			<footer>
			Site last updated on April 17, 2019 -- Copyright 2018-2019 Tao Bian -- <a href="https://github.com/taobian89">github.com/taobian89</a>
			</footer>
				</div>
		</body>
	</html>
