<!DOCTYPE html>
	<html>
		<head>  <!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154359931-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-154359931-1');
			</script>


			
			<title>{{ page.title }}</title>
			{% include lib/mathjax.html %}
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			




		</head>
		<body>
			<nav>
				<h2>
				<a href="/">Home</a> &nbsp;
				<a href="/research">Research</a> &nbsp;
				<!-- <a href="/about">About</a> &nbsp; -->
	        		<a href="/cv">CV</a> &nbsp;
				<a href="/publications">Publications</a> &nbsp;
	        		<!-- <a href="/blog">Blog</a> -->
				</h2>

			</nav>
			
			<hr style="height:2px;border-width:0;color:#e5e5e5;background-color:#e5e5e5;margin-bottom:30px">
			
			<div class="page-container">
				<div id="container">
				   <div id="content-wrap">
					{{ content }}
				   </div>
			
			</div><!-- /.container -->

			
 			<footer>
			Site last updated on Jun. 07, 2020 -- Copyright 2017-2020 Tao Bian 
			</footer>
				</div>
		</body>
	</html>
